@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
.theme-light {
  --background: #ffffff;
  --foreground: #171717;
  --primarygray:#ececec;
  --primaryyellow:#eff6ff;
  --menubg:#D9D8DD;
  --menufg:#F2F2F2;
  --success:green;
  --error:red;
  --codebg:rgb(250, 250, 250);
}
.theme-dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primarygray:#2c2c2c;
  --primaryyellow:#0f172a;
  --menubg:#5B5B5B;
  --menufg:#242424;
  --success:green;
  --error:red;
  --codebg:rgb(40, 44, 52);
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
